[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tensorsparse"]
	path = tensorsparse
	url = https://github.com/cran/tensorsparse
